:root {
    --text: #181818;
    --background: #dadada;
    --primary: #fff098;
    --secondary: #b9b9b9;
    --accent: #443dff;

    --middle-size: min(300px, 75vw);
    --line-distance: 50%;
    --menu-spacing: min(20px, 10vw);
}

@font-face {
    font-family: "Fira Sans";
    src: url("assets/fonts/GT-Walsheim-Regular-Trial.otf");
}

.body {
    height: 100vh;
    margin: 0;
    background-color: var(--secondary);
}

.main-div {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-div {
    max-width: 600px;
    padding: min(5vw, 20px);
    border-radius: min(calc(5vw - 10px), 10px);

    background-color: var(--background);
}

.content-title-div {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 min(10vw, 20px);
}

.content-title {
    font-family: "Fira Sans", Roboto, sans-serif;
    font-size: min(2rem, 7vw);
    color: var(--text);
}

.content-title-icon {
    height: min(50px, 10vw);
    width: auto;
}

.content-subtitle {
    font-family: "Fira Sans", Roboto, sans-serif;
    font-size: min(1.5rem, 6vw);
    color: var(--text);
}

.content-text {
    font-family: "Fira Sans", Roboto, sans-serif;
    font-size: min(1rem, 5vw);
    color: var(--text);
}